# 构建产物
bin
build/bin
frontend/dist
*.exe
.task
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

# 依赖
node_modules

# 会话/工具数据
.zcode
frontend/package.json.md5
# 移动端构建生成物（Windows 项目不需要）
build/android
build/ios
